.hero{
	height:70vh;
	background-size: cover;
	background-position: top;
	background-color: #e7f0ef;
    border-radius: 3px;
	
	@include media-breakpoint-up(md) {
		height:78vh;
		background-position: center;
		background-image: linear-gradient(to right bottom, 
		rgba(rgb(195,196,199),0.8), 
		rgba(rgb(195,196,199),0.8)),url('../../src/img/road.jpg');
		overflow:visible;
	 }
}

.iphone-container{
	overflow: hidden;

	@include media-breakpoint-up(lg) {
		overflow: visible;
	 }
}

.phone-img {
	width: 126%;
	overflow:hidden;
	
	@include media-breakpoint-up(lg) {
		width: 130%;
	 }
}

